<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172469628091-chnbai0brp66rpqbv9oqobed7i5hhvm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172469628091-chnbai0brp66rpqbv9oqobed7i5hhvm2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172469628091-bcb0e1gm1ekj8b53fs6fksjtpfe2aqpb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSzQ9IfOyxTvXUpYm2So6o1KGXhUTIAig</string>
	<key>GCM_SENDER_ID</key>
	<string>172469628091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.line.meet</string>
	<key>PROJECT_ID</key>
	<string>meet-941d4</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-941d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172469628091:ios:4cc0792c36f36a37c68d9e</string>
	<key>DATABASE_URL</key>
	<string>https://meet-941d4-default-rtdb.firebaseio.com</string>
</dict>
</plist>